@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/placeholders';
@import '../../../SASS/animations';



.searchBar-container{
    background-color: $primary;
    display: flex;
    border-radius: $radius;
  flex-direction: column;
  padding: 1rem;
  max-width: 960px;
  margin: 4rem auto;
 
}


